#menu-items-container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 20vh;
  .menu-items {
    display: flex;
    flex-flow: column;
    align-items: center;
    .menu-item-tag {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .menu-tag-name {
        width: 100%;
        text-align: center;
        padding-bottom: 1em;
        padding-top: 2em;
        will-change: transform, opacity;
      }
      .tag-items {
        display: flex;
        flex-flow: row;
        width: 100%;
        justify-content: space-evenly;
        gap: 4vw;
        flex-wrap: wrap;
        min-height: 40vh;
        .menu-item {
          aspect-ratio: 2/3;
          border-radius: 1em;
          background: lighten($secondary, 4%);
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          padding-left: 1em;
          padding-right: 1em;
          gap: 0.5em;
          //flex: 1;
          max-height: 100%;
          width: 15vw;
          will-change: transform, opacity;

          @media (width <= 1075px) {
            width: 20vw;
          }
          @media (width <= 825px) {
            width: 25vw;
          }
          @media (width <= 675px) {
            width: 30vw;
          }
          @media (width <= 550px) {
            width: 35vw;
          }
          @media (width <= 475px) {
            width: 50vw;
          }
          @media (width <= 350px) {
            width: 75vw;
          }

          .item-image-container {
            height: 50%;
            width: 100%;
            position: relative;
            margin-top: 0.5em;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              z-index: 2;
              border-radius: 1em;
            }
          }
          .item-content-container {
            //height: 50%;
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 0.5em;
            gap: 1vh;
            .item-title {
              font-size: 1.75em;
            }
          }
        }
      }
    }
  }
}