/* Error: Undefined variable.
 *   ,
 * 9 |   background: darken($light, 10%);
 *   |                      ^^^^^^
 *   '
 *   signon-container.scss 9:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502    background: darken($light, 10%);\d\a   \2502                       ^^^^^^\a   \2575 \a   signon-container.scss 9:22  root stylesheet";
}
