#toggle-signon-mode {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  padding: 1em;
  background: lighten($secondary, 10%);
  border-radius: 1em;
  #signon-switch-label {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
  }
  #signon-switch-label input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  #signon-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darken($accent, 10%);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2em;
  }

  #signon-switch:before {
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    left: 0.25em;
    bottom: 0.2em;
    background-color: $accent;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 50%;
  }

  input:checked + #signon-switch {
    background-color: lighten($accent, 10%);;
  }

  input:focus + #signon-switch {
    box-shadow: 0 0 0.01em $primary;
  }

  input:checked + #signon-switch:before {
    -webkit-transform: translateX(1.9em);
    -ms-transform: translateX(1.9em);
    transform: translateX(1.9em);
  }
}