#finalize-order-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  gap: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5vh;
}

#final-order-info-display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 5vh;
  align-items: center;
  height: 60vh;
  div {
    display: flex;
    flex-flow: row;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    @media (width <= 600px) {
      flex-flow: column;
      gap: 0;
      text-align: center;
    }
  }
  h1, h3 {
    text-align: center;
  }
}


.rating-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  .rate-star-icon {
    font-size: 1em;
    color: darken($accent, 15%);
    transition: color 0.5s;
  }
  .rate-star-icon.rate-selected {
    color: $accent;
  }
}


#general-rating-panel {
  min-height: 20vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  text-align: center;
}


#order-review-panel {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2vh;
  padding-bottom: 5vh;
  width: 100%;
  .fa-arrow-down {
    color: $accent;
    font-size: 2em;
    margin-bottom: 5vh;
  }

  #order-items-review-container {
    width: 100%;
    padding-bottom: 5vh;
    .order-review-tile {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-items: center;
      width: 90%;
      padding: 2vh 5%;
      position: relative;

      .order-review-label, .rating-container, .order-item-rating-input {
        flex: 1 1 0px;
        text-align: center;
      }
      .order-item-rating-input {
        background: $secondary;
        border: 1px solid $accent;
        border-radius: 1em;
        padding: 0.25em;
      }
      .order-item-rating-input::placeholder {
        color: $primary;
      }
      @media (width <= 800px) {
        flex-flow: column !important;
        gap: 2vh;
      }
    }
    .order-review-tile::after {
      width: 70%;
      height: 0.1px;
      background: darken($primary, 20%);
      content: "";
      display: block;
      position: absolute;
      left: 15%;
      bottom: 0;
    }
  }
}

