#approaches-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  padding-bottom: 10vh;
  text-align: center;

  #approaches-grid {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
  }

  #approaches-header {
    will-change: transform, opacity;
  }


  .approaches-tile {
    background: transparentize($accent, 1);
    border: 1px solid $accent;
    transition: background 0.5s;
    border-radius: 1em;
    aspect-ratio: 1/1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    word-wrap: break-word;
    cursor: pointer;
    will-change: transform, opacity;

    .approaches-tile-heading {
      font-size: 2em;
    }

    .approaches-tile-content {
      padding: 1em;
    }
  }


  @media (width <= 800px) {
    .approaches-tile {
      width: 40% !important;
    }
  }

  @media (width <= 575px) {
    .approaches-tile {
      width: 70% !important;
    }
  }
}