#discount-promo {
  width: 90%;
  min-height: 20vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  text-align: center;
  padding: 5vh 5%;
  margin-top: 5vh;

  #discount-button, #discount-header, #discount-body {
    will-change: transform, opacity;
  }
}