#hero-content {
  width: 100vw - 22vw - 10vw;
  height: 100vh;
  padding-left: 5vw + 27vw; //22 for spacing from the header, 3 for readability
  padding-right: 5vw;
  background: $light;

  h1 {
    font-size: 3.5em;
    padding-top: 15vh;
  }

  #hero-proceed-container {
    padding-top: 40vh;
    width: fit-content;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    button {
      font-size: 1.5em;
    }
    i {
      color: $accent;
      font-size: 2em;
    }
  }
}