#member-benefit-promo {
  width: 50vh;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: darken($secondary, 2%);
  border-radius: 1em;
  padding: 5%;
  gap: 5vh;
  margin-top: 15vh;
  max-width: 90%;
}