#sample-container {
  width: 70vw;
  height: 100vh;
  background: $light;
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  padding-left: 10vw;
  padding-right: 10vw;

  h1 {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 15vh;
    text-align: center;
  }

  #sample-bar-container {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-flow: row;
    align-items: end;
    justify-content: center;
    .sample-bar {
      width: 33%;
      -moz-border-radius-topleft: 1em;
      -moz-border-radius-topright: 1em;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
      padding: 1em;
      text-align: center;
      will-change: transform;
      .sample-bar-image-container {
        width: 80%;
        height: 30vh;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2.333vw;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h2 {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
    }
    .bar-left {
      height: 80%;
      background: transparentize($accent, 0.2);
    }
    .bar-center {
      height: 100%;
      background: $accent;
    }
    .bar-right {
      height: 60%;
      background: transparentize($accent, 0.4);
      p {
        visibility: hidden;
      }
    }
  }
}