#top-ratings-display {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  gap: 1vh;
  h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  #top-ratings-header {
    will-change: transform, opacity;
  }
  .rating-tile {
    width: 80%;
    height: fit-content;
    margin-left: 9%;
    margin-right: 9%;
    padding: 2vh 1%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    will-change: transform, opacity;
    h6 {
      width: 40%;
    }
    p {
      width: 30%;
    }
  }
  .rating-tile.rating-left {
    text-align: left;
    align-items: start;
  }
  .rating-tile.rating-left::after {
    width: 2px;
    height: 100%;
    background: $primary;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rating-tile.rating-right {
    text-align: right;
    align-items: end;
  }
  .rating-tile.rating-right::after {
    width: 2px;
    height: 100%;
    background: $primary;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (width <= 1000px) {
    h6, p {
      width: 100% !important;
    }
    .rating-left {
      padding-left: 1em;
    }
    .rating-right {
      padding-right: 1em;
    }
  }
}