#work-with-us-container {
  width: 45vw;
  height: 100vh;
  background: $light;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 10vw;
  padding-right: 10vw;
  #collaborate-text-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 100%;
    height: fit-content;
  }
  .collaborate-left {
    border-left: solid 1px $dark;
    text-align: left;
    padding: 1em;
    width: 100%;
    height: fit-content;
  }
  .collaborate-right {
    border-right: solid 1px $dark;
    text-align: right;
    padding: 1em;
    width: 100%;
    height: fit-content;
  }
}
#work-with-us-container::after {
  width: 3px;
  height: 100vh;
  background: $light;
  content: "";
  display: block;
  position: absolute;
  right: -1px;
  top: 20%;
}

.collaborate-tile-anim, .collaborate-tile-anim-left, .collaborate-tile-anim-right {
  will-change: transform, opacity;
}