<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/favicon.ico">-->
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
    <script src="/js/lenis_config.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>
<body class="light">

<div id="header-container" class="dark">
    <div id="header-content">
        <div id="header-home-container" class="dark">
            <a href="/" class="dark">ConDelu Meals</a>
        </div>
        <a class="dark emphasize" href="/">Order</a>
        <a class="dark" href="/">View Orders</a>
        <a class="dark" href="/">Menu</a>
        <a class="dark" href="/">Meal Plans</a>
        <a class="dark" href="/">TSA 1</a>
        <a class="dark" href="/">TSA 2</a>
        <a class="dark emphasize" href="/">Account</a>
    </div>
    <div id="header-image-container">
        <svg viewBox="0 0 132.29166 132.29166" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
            <path
                    id="path20"
                    style="fill-opacity:1;stroke:none;stroke-width:2.64636;stroke-linecap:round;stroke-opacity:1"
                    d="M 0,0 V 132.29166 H 132.29166 C 110.24309,110.24309 88.194836,88.194997 88.194616,77.170482 88.194386,66.145967 110.24266,66.145993 110.24288,55.121699 110.2431,44.097405 88.19442,22.048589 66.145832,0 Z" />
        </svg>
    </div>
</div>

<div id="parallax-image">
    <img src="https://media.istockphoto.com/id/975055456/photo/the-container-restaurant-bar-3d-rendering.jpg?s=612x612&w=0&k=20&c=riWw1c-6guQVYIOSEkBytInNWt6WOlDltbwxfWX0JS8=" alt="Candelu resturaunt rendering">
</div>

<div id="site-content">

    <div id="hero-content">
        <h1>Where premium healthy meals never preempt convenience.</h1>
        <div id="hero-proceed-container">
            <h3>What do we offer? <i class="fas fa-arrow-right"></i></h3>
        </div>
    </div>

    <div id="approaches-container">
        <div class="approaches-tile">
            <div class="approaches-tile-title">
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="approaches-tile-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="approaches-tile">
            <div class="approaches-tile-title">
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="approaches-tile-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        <div class="approaches-tile">
            <div class="approaches-tile-title">
                <h2>Lorem Ipsum</h2>
            </div>
            <div class="approaches-tile-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div id="sample-container">
        <h1>How'd You Like A Sample?</h1>
        <div id="sample-bar-container">
            <div class="sample-bar bar-left">
                <div class="sample-bar-image-container">
                    <img src="https://cdn.ttgtmedia.com/rms/onlineimages/404_error-h.png" alt="sample option image.">
                </div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="sample-bar bar-center">
                <div class="sample-bar-image-container">
                    <img src="https://cdn.ttgtmedia.com/rms/onlineimages/404_error-h.png" alt="sample option image.">
                </div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="sample-bar bar-right">
                <div class="sample-bar-image-container">
                    <img src="https://cdn.ttgtmedia.com/rms/onlineimages/404_error-h.png" alt="sample option image.">
                </div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div id="transition-lighttodark">
        <svg viewbox="0 0 100 100" preserveAspectRatio="none"><path style="stroke:none;fill-opacity:1;" d="M 0,0 L 0,100 L 100,50 L 0,0"/></svg>
    </div>

    <div id="top-ratings-display" class="dark">
        <!-- Future: add a system to retrieve recent 5-star reviews and display them. -->
        <h2 id="ratings-title" class="dark">Ratings</h2>
        <div class="ratings-container">
            <div class="rating-tile dark">
                <h3 class="dark">Lorem Ipsum</h3>
                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="rating-tile dark">
                <h3 class="dark">Lorem Ipsum</h3>
                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="ratings-container">
            <div class="rating-tile dark">
                <h3 class="dark">Lorem Ipsum</h3>
                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="rating-tile dark">
                <h3 class="dark">Lorem Ipsum</h3>
                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="ratings-container">
            <div class="rating-tile dark">
                <h3 class="dark">Lorem Ipsum</h3>
                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="rating-tile dark">
                <h3 class="dark">Lorem Ipsum</h3>
                <p class="dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>

    <div id="interaction-suggestion-menu">
        <h1 class="dark">Interested?</h1>
        <br>
        <a href="/">Order</a>
        <a href="/">Create Account</a>
    </div>

    <div id="menu-start" class="dark">
        <h1 class="dark" id="menu-title">Menu</h1>
    </div>
</div>

<div id="continued-menu" class="dark">

</div>

<div id="footer-transition" class="dark">
    <svg viewbox="0 0 100 100" preserveAspectRatio="none">
        <path style="stroke:none;fill-opacity:1;" d="M 0,100 L 100,100 L 50,0 L 0,100"/>
    </svg>
</div>

<div id="footer" class="light">

</div>

</body>
</html>