<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Condelu Meals</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/condelulogo.ico">-->
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
    <script src="/js/home_animations.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>
<body>

<!--
Requisite content:
* Hero
* Approaches
* Story
* Collab
* Ratings
* account-promo
* sample/top rated items
* redirect to menu
* footer
-->

<div id="header-container">

</div>


<div id="site-content">


    <div id="hero-content">
        <div id="hero-interactable">
            <h1 style="font-size: 5em;">Bringing Premium to Fast Food</h1>
            <h6>So bring home a guilt-free delectable experience.</h6>
            <div id="hero-button-container">
                <button>Menu</button>
                <button>Order</button>
            </div>
        </div>
        <div id="hero-bgimg">
            <div id="hero-bgimg-overlay"></div>
            <img id="hero-bgimg-image" src="/images/stockphotoforfood.jpg" alt="Image depicting an example of food.">
        </div>
    </div>


    <div id="item-promo">
        <!-- Scroll through a set of popular menu items -->
        <h1>Your Favorite Items</h1>
        <div id="item-scroll-area">
            <button class="scroll-arrow-button" onclick="shiftItemPromoCarousel(false)"><i class="fa-solid fa-arrow-left"></i></button>
            <div id="item-scroll-overflow">
                <div id="item-scroll-container">
                    <div class="top-rated-item-tile" th:each="itemTile:${tophalfmenuitems}">
                        <div class="top-rated-item-tile-content">
                            <h5 th:text="${itemTile.getLabel()}"></h5>
                            <div class="top-rated-item-tile-body">
                                <p class="top-rated-item-tile-desc" th:text="${itemTile.description}"></p>
                                <p class="top-rated-item-tile-rating" th:text="|Rating: ${itemTile.getAveragerating()}/5 (${itemTile.getTotalratings()})|"></p>
                            </div>
                            <button>Add to Cart</button>
                        </div>
                        <img th:src="${itemTile.getIconUrl()}" alt="image of food item">
                    </div>
                </div>
            </div>
            <button class="scroll-arrow-button" onclick="shiftItemPromoCarousel(true)"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>


    <div id="current-featured">
        <!-- Designate the most unique menu item as the 'featured' item and show it off here. -->
        <h1>Featured Deal</h1>
    </div>


    <div id="discount-promo">
        <!-- Start your week off with a site-wide discount. -->
        <h1>Have a Discount</h1>
    </div>


    <div id="top-ratings-display">
        <!-- Future: add a system to retrieve recent 5-star reviews and display them. -->
        <h1>Top Ratings</h1>
    </div>


    <div id="location-container">
        <!-- Show a map of all 'locations' set up -->
        <h1>Locations</h1>
    </div>


    <div id="member-benefit-promo">
        <!-- Promote creating an account and explain the benefits -->
        <h1>Become a Member</h1>
    </div>


    <div id="approaches-container">
        <!-- Describe what extra facts a customer might not know that separates the company from anyone else -->
        <h1>How Are We Different?</h1>
    </div>


    <div id="collaborate-container">
        <!-- promote for people to join the team, either as a driver or otherwise -->
        <h1>Join the Team</h1>
    </div>
</div>


<div id="footer">
    <!-- TODO: Add footer -->
</div>

</body>
</html>