<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Condelu Meals</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/condelulogo.ico">-->
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/home.css">
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">
    <script src="/js/header.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/item_cart_handling.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</head>
<body>

<!--
Requisite content:
* Hero
* Approaches
* Story
* Collab
* Ratings
* account-promo
* sample/top rated items
* redirect to menu
* footer
-->

<div id="header-container">
    <div id="header-link-container">
        <a href="/" style="display: none;">Home</a>
        <a href="/menu" style="display: none;">Menu</a>
        <a href="/cart" style="display: none;">Order</a>
        <a href="/account" style="display: none;">Account</a>
        <a href="/#collaborate-container" style="display: none;">Careers</a>
        <button id="header-show-button" data-headeropen="false" onclick="headerButtonClick()"><i class="fa-solid fa-bars"></i></button>
        <a class="header-no-remove" href="/cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p id="cart-item-count">0</p>
        </a>
    </div>
    <div id="header-account-icon">
        <a href="/account">
            <img id="header-account-icon-image" th:src="${headerpicturelink}" alt="account icon" onerror="this.src='/images/default-avatar-icon.jpg';">
        </a>
    </div>
</div>

<div id="branding-container">
    <a href="/" id="branding-desktop"><h1>Condelu Meals</h1></a>
    <a href="/" id="branding-mobile"><i class="fa-solid fa-house"></i></a>
</div>

<div id="mobile-header-popup">
    <a href="/"><h1>Home</h1></a>
    <a href="/menu"><h1>Menu</h1></a>
    <a href="/cart"><h1>Order</h1></a>
    <a href="/account"><h1>Account</h1></a>
    <a href="/#collaborate-container"><h1>Careers</h1></a>
</div>


<div id="menu-item-overlay" onclick="hideOverlay(event, this);">
    <div id="menu-item-details-container">
        <div id="menu-item-top">
            <div id="menu-item-main-info">
                <div id="menu-item-label"><h2 id="menu-item-overlay-name">Test1</h2></div>
                <div id="menu-item-price"><h4 id="menu-item-overlay-price">Test2</h4></div>
                <div id="menu-item-rating"><h5 id="menu-item-overlay-rating"></h5></div>
            </div>
            <div id="menu-item-image">
                <img id="menu-item-overlay-image" src="" alt="menu item overlay extra info image." style="width: 100%;height: 30vh;object-fit: contain;">
            </div>
        </div>
        <div id="menu-item-desc-container">
            <p id="menu-item-overlay-desc"></p>
            <div id="item-count-container" class="item-count-container">
                <label id="item-count-label" class="label-item-count">
                    Item Count
                </label>
                <input type="number" id="item-count-input" autocomplete="name" value=1>
            </div>
            <button id="add-to-cart-button" onclick="addItemToCart();">Add to Cart</button>
        </div>
    </div>
</div>


<div id="site-content">


    <div id="hero-content">
        <div id="hero-interactable">
            <h1>Bringing Premium to Fast Food</h1>
            <h6>So bring home a guilt-free delectable experience.</h6>
            <div id="hero-button-container">
                <button onclick="location.href=window.location.href + 'menu';">Menu</button>
                <button onclick="location.href=window.location.href + 'cart';">Order</button>
            </div>
        </div>
        <div id="hero-bgimg">
            <div id="hero-bgimg-overlay"></div>
            <img id="hero-bgimg-image" src="/images/stockphotoforfood.jpg" alt="Image depicting an example of food.">
        </div>
    </div>


    <div id="item-promo">
        <!-- Scroll through a set of popular menu items -->
        <h1>Your Favorite Items</h1>
        <div id="item-scroll-area">
            <button class="scroll-arrow-button" onclick="shiftItemPromoCarousel(false)"><i class="fa-solid fa-arrow-left"></i></button>
            <div id="item-scroll-overflow">
                <div id="item-scroll-container">
                    <div class="top-rated-item-tile" th:each="itemTile:${tophalfmenuitems}">
                        <div class="top-rated-item-tile-content">
                            <h5 th:text="${itemTile.getLabel()}"></h5>
                            <div class="item-promo-image-container">
                                <img th:src="${itemTile.getIconUrl()}" alt="image of food item">
                            </div>
                            <div class="top-rated-item-tile-body">
                                <p class="top-rated-item-tile-desc" th:text="${itemTile.description}"></p>
                                <p class="top-rated-item-tile-rating" th:text="|Rating: ${itemTile.getAveragerating()}/5 (${itemTile.getTotalratings()})|"></p>
                            </div>
                            <button class="item-promo-button" th:item="${itemTile.getLabel()}" onclick="retrieveItemData(this.getAttribute('item'));">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="scroll-arrow-button" onclick="shiftItemPromoCarousel(true)"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>


    <div id="current-featured">
        <!-- Designate the most unique menu item as the 'featured' item and show it off here. -->
        <div id="featured-overlay">
            <h2 th:text="|A Special Deal On ${featureditem.getLabel()}|"></h2>
            <img id="featured-image" th:src="${featureditem.getIconUrl()}" alt="featured item background image.">
            <div>
                <p th:text="${featureditem.getDeal().getMessage()}"></p>
                <p th:text="|Get ${featureditem.getDeal().getDiscount()}${!featureditem.getDeal().isIsPercentageBased() ? '$' : ''}${featureditem.getDeal().isIsPercentageBased() ? '%' : ''} off on this ${'$'}${featureditem.getPrice()} item|"></p>
            </div>
            <button th:item="${featureditem.getLabel()}" onclick="retrieveItemData(this.getAttribute('item'));">Add to Cart</button>
        </div>
    </div>


    <div id="discount-promo">
        <!-- Start your week off with a site-wide discount. -->
        <h1 th:text="${sitewidedaydiscount ? 'Start Your Week Strong With A Discount' : 'Come Back Monday For A Discount'}"></h1>
        <p>We understand that mondays are hard, and we want to make yours better. So every monday, a site-wide discount of 10% is applied to every order!</p>
        <button th:if="${sitewidedaydiscount}">Redeem Your Discount</button>
    </div>


    <div id="top-ratings-display">
        <!-- Future: add a system to retrieve recent 5-star reviews and display them. -->
        <h1>Top Ratings</h1>
        <div class="rating-tile" th:each="ratingTile,iterStat:${topratings}" th:classappend="${iterStat.even} ? 'rating-right' : 'rating-left'">
            <h6 th:text="|${ratingTile.getReviewer().getName()} rated ${ratingTile.getProduct().getLabel()} ${ratingTile.getRating()}/5, saying:|"></h6>
            <p th:text="${ratingTile.getMessage()}"></p>
        </div>
    </div>


    <div id="member-benefit-promo">
        <!-- Promote creating an account and explain the benefits -->
        <h1>Join Us</h1>
        <p>An account allows you to save your billing information for convenience while ordering, leave reviews on items you liked or disliked, and even <strong>earn rewards!</strong></p>
        <a href="/account"><button>Create Account</button></a>
    </div>


    <div id="approaches-container">
        <!-- Describe what extra facts a customer might not know that separates the company from anyone else
        Note: this is critical for the tsa rubric.
        Design in a matrix of tiles, with an initial state only showing the title of that tile. On hover or click, shows the text description.
        -->
        <h1>How Are We Different?</h1>

        <div id="approaches-grid">

            <div class="approaches-tile" data-approaches-tile-selected="false">
                <h3 class="approaches-tile-heading">Fast Food, Done Right</h3>
                <p class="approaches-tile-content" style="display: none;">Our business is modeled after providing quick and convenient food for our customers. Unlike fast food, we strive to maintain quality and excellence in all we do.</p>
            </div>

            <div class="approaches-tile" data-approaches-tile-selected="false">
                <h3 class="approaches-tile-heading">Always Convenient</h3>
                <p class="approaches-tile-content" style="display: none;">We understand that reducing barriers to healthy eating is vital, so keeping the entire process smooth, quick, and frictionless for our customers is a core facet of our strategy.</p>
            </div>

            <div class="approaches-tile" data-approaches-tile-selected="false">
                <h3 class="approaches-tile-heading">Healthy First</h3>
                <p class="approaches-tile-content" style="display: none;">Our core mission is to bring healthy food to the masses. As such, our entire menu is vegetarian friendly, balancing nutrition with cost and convenience — for us and our customers.</p>
            </div>

            <div class="approaches-tile" data-approaches-tile-selected="false">
                <h3 class="approaches-tile-heading">Farm Partnership</h3>
                <p class="approaches-tile-content" style="display: none;">All of our food is sourced from local farms, cutting out the middle man. This allows us to not only decrease the cost of our menu, but also give back to the community that brought us to where we are today.</p>
            </div>

            <div class="approaches-tile" data-approaches-tile-selected="false">
                <h3 class="approaches-tile-heading">Friendly Packaging</h3>
                <p class="approaches-tile-content" style="display: none;">We strive to minimize packaging used for both delivery, drive through, and dine in orders. What little we do use are made from recyclable materials, such as paper or cardboard.</p>
            </div>

            <div class="approaches-tile" data-approaches-tile-selected="false">
                <h3 class="approaches-tile-heading">Environmental Sustainability</h3>
                <p class="approaches-tile-content" style="display: none;">We value preserving the health of the environment — if it collapses, we do as well — so we strive to do what we can to preserve it. Our locations all rely on renewable energy sources in varying ways, we invest in carbon capture systems, and even donate all excess food to local food banks!</p>
            </div>

        </div>
    </div>


    <div id="collaborate-container">
        <!-- promote for people to join the team, either as a driver or otherwise -->
        <h1>Work With Us</h1>
        <div id="collaborate-info-container">
            <div id="collaborate-info-text">
                <p>
                    Interested in joining a team of motivated and skilled colleagues, with competitive pay and no prior experience required? Join our team today and kickstart your career!
                </p>
                <div style="width:100%;">
                    <p>
                        We are hiring for a variety of roles:
                    </p>
                    <ul>
                        <li><p>Cooking Staff</p></li>
                        <li><p>Counter/Drive Attendants</p></li>
                        <li><p>Delivery/Shipping Drivers</p></li>
                    </ul>
                </div>
                <p style="text-align:center;font-size:1.1em;">
                    Send your resume to <strong>careers@condelu.dev</strong> today!
                </p>
            </div>
            <div id="collaborate-info-image">
                <img id="collaborate-image" src="/images/workersimage.jpg" alt="workers in a restaurant kitchen">
            </div>
        </div>
    </div>
</div>


<div id="footer">
    <p>&copy; 2025 ConDelu Meals</p>
</div>

</body>
</html>