<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Condelu Meals</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/condelulogo.ico">-->
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        html.scroll-hide *::-webkit-scrollbar-thumb {
            background-color: rgb(4.25, 4.25, 4.25);
        }
        html.scroll-hide *::-webkit-scrollbar-track {
            background-color: rgb(4.25, 4.25, 4.25);
        }
    </style>
</head>


<body class="light" data-barba="wrapper">

<script type="text/javascript">
    document.getElementsByTagName("html")[0].classList.add("scroll-hide");
</script>

<link rel="stylesheet" href="/styles/pagetransition.css">
<div id="page-transition-container" style="display: flex;">
    <div id="page-transition-left" class="page-transition-panel"></div>
    <div id="page-transition-right" class="page-transition-panel"></div>
    <h1 id="page-transition-title" style="visibility: hidden;">Condelu Meals</h1>
</div>

<link rel="stylesheet" href="/styles/constants.css">

<script src="/js/preloader.js"></script>

<script src="/js/animations.js"></script>

<script type="text/javascript">
    let account;
</script>


<div id="header-container">
    <div id="header-link-container">
        <a href="/" style="display: none;" class="link-hover">Home</a>
        <a href="/menu" style="display: none;" class="link-hover">Menu</a>
        <a href="/cart" style="display: none;" class="link-hover">Order</a>
        <a href="/account" style="display: none;" class="link-hover">Account</a>
        <a href="/references" style="display:none;" class="link-hover">Reference Page</a>
        <button id="header-show-button" data-headeropen="false" onclick="headerButtonClick()"><i class="fa-solid fa-bars"></i></button>
        <a id="header-cart-icon" class="header-no-remove" href="/cart" data-activetime="inactive" data-hover="false">
            <i class="fa-solid fa-cart-shopping"></i>
            <p id="cart-item-count">0</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
                <circle cx="50" cy="50" r="50" stroke="#00B837"
                        fill="none"
                        stroke-width="8"
                        style="stroke-dasharray: 80;"/>
            </svg>
        </a>
    </div>
    <div id="header-account-icon" data-hover="false">
        <a href="/account">
            <img id="header-account-icon-image" th:src="${headerpicturelink}" alt="account icon" onerror="this.src='/images/default-avatar-icon.jpg';">
        </a>
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="50" stroke="#00B837"
                    fill="none"
                    stroke-width="8"
                    style="stroke-dasharray: 80;"/>
        </svg>
    </div>
</div>

<div id="branding-container">
    <a href="/" id="branding-desktop"><h1>Condelu Meals</h1></a>
    <a href="/" id="branding-mobile"><i class="fa-solid fa-house"></i></a>
</div>

<div id="mobile-header-popup">
    <a href="/"><h1>Home</h1></a>
    <a href="/menu"><h1>Menu</h1></a>
    <a href="/cart"><h1>Order</h1></a>
    <a href="/account"><h1>Account</h1></a>
    <a href="/#collaborate-container"><h1>Careers</h1></a>
    <a href="/references"><h1>Reference Page</h1></a>
</div>




<div class="barba-container" id="barba-container" data-barba="container" data-barba-namespace="page" data-page="menu">



    <script th:inline="javascript">
        /*<![CDATA[*/
        account = /*[[${account}]]*/ 'noaccount';
        /*]]>*/
    </script>



    <div id="menu-item-overlay" onclick="hideOverlay(event, this);">
        <div id="menu-item-details-container">
            <div id="menu-item-top">
                <div id="menu-item-main-info">
                    <div id="menu-item-label"><h2 id="menu-item-overlay-name">Test1</h2></div>
                    <div id="menu-item-price"><h4 id="menu-item-overlay-price">Test2</h4></div>
                    <div id="menu-item-rating"><h5 id="menu-item-overlay-rating"></h5></div>
                </div>
                <div id="menu-item-image">
                    <img id="menu-item-overlay-image" src="" alt="menu item overlay extra info image." style="width: 100%;height: 30vh;">
                </div>
            </div>
            <div id="menu-item-desc-container">
                <p id="menu-item-overlay-desc"></p>
                <div id="item-count-container" class="item-count-container">
                    <label id="item-count-label" class="label-item-count">
                        Item Count
                    </label>
                    <input type="number" id="item-count-input" autocomplete="name" value=1>
                </div>
                <button id="add-to-cart-button" onclick="addItemToCart();">Add to Cart</button>
            </div>
        </div>
    </div>


    <div id="site-content-menu" class="site-content" data-title="Menu">
        <div id="menu-banner">
            <h1>Menu</h1>
        </div>

        <div id="menu-categories-container">
            <div id="menu-categories-accordion-header">
                <h2 id="nav-accordion-header-label">All</h2>
                <div id="nav-accordion-icon">
                    <i id="show-accordion-panel" class="fa-solid fa-plus" style="display:block" onclick="mobileNavAccordionClick('show');"></i>
                    <i id="hide-accordion-panel" class="fa-solid fa-minus" style="display:none" onclick="mobileNavAccordionClick('hide');"></i>
                </div>
            </div>
            <div id="menu-accordion-panel">
                <!-- Categories of all, breakfast, dinner, sides, drinks, desserts-->
                <div class="menu-topic-tile" th:each="topicTile:${itemsByMenuTags.entrySet()}" th:category="${topicTile.getKey()}" onclick="setMenuCategory(this.getAttribute('category'));" th:id="|cattile_${topicTile.getKey()}|">
                    <h3 th:text="${topicTile.getKey()}"></h3>
                </div>
            </div>
        </div>

        <div id="menu-items-container">
            <div class="menu-items" style="display: none;" th:each="category:${itemsByMenuTags.entrySet()}" th:id="|menucontainer_${category.getKey()}|">
                <div class="menu-item-tag" th:each="tag:${itemsByMenuTags.get(category.getKey())}">
                    <h4 class="menu-tag-name" th:text="${tag.getTagName()}"></h4>
                    <div class="tag-items">
                        <div class="menu-item" th:each="item:${tag.getMenuItems()}">
                            <div class="item-image-container">
                                <img th:src="${item.getIconUrl()}" th:alt="${item.getLabel()}">
                            </div>
                            <div class="item-content-container">
                                <h3 class="item-title" th:text="${item.getLabel()}"></h3>
                                <button th:item="${item.getLabel()}" onclick="retrieveItemData(this.getAttribute('item'));">More Info</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="footer">
    <p>&copy; 2025 ConDelu Meals</p>
</div>


</body>

<!-- scripts and files loaded last -->
<script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">

<link rel="stylesheet" href="/styles/core.css">

<script src="/js/header.js"></script>
<script src="/js/home.js"></script>
<script src="/js/item_cart_handling.js"></script>
<script src="/js/account.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/order.js"></script>
<script src="/js/signon.js"></script>
<script src="/js/view_cart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/@barba/core" type="text/javascript"></script>


</html>