<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign On To Condelu</title>
    <link rel="icon" type="image/x-icon" href="/images/condelulogo.ico">
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/signon.css">
    <script src="/js/signon_animations.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</head>
<body>

<div id="header-container" class="dark">
    <!-- TODO: Add header -->
</div>


<div id="signon-content">

</div>


<div id="footer">
    <!-- TODO: Add footer -->
</div>


</body>
</html>