<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign On To Condelu</title>
    <link rel="icon" type="image/x-icon" href="/images/condelulogo.ico">
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/signon.css">
    <script src="/js/signon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
</head>
<body>


<div id="header-container">
    <div id="header-link-container">
        <a href="/menu" style="display: none;">Menu</a>
        <button id="header-show-button" data-headeropen="false" onclick="headerButtonClick()"><i class="fa-solid fa-bars"></i></button>
        <a class="header-no-remove" href="/cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p id="cart-item-count">0</p>
        </a>
    </div>
    <div id="header-account-icon">
        <a href="/account">
            <img id="header-account-icon-image" th:src="${headerpicturelink}" alt="account icon" onerror="this.src='/images/default-avatar-icon.jpg';">
        </a>
    </div>
</div>

<div id="branding-container">
    <a href="/"><h1>Condelu Meals</h1></a>
</div>


<div id="signon-content">

    <div id="toggle-signon-mode">
        <h3>Sign Up</h3>
        <label id="signon-switch-label">
            <input type="checkbox" id="signon-switch-input">
            <span id="signon-switch"></span>
        </label>
        <h3>Sign In</h3>
    </div>


    <div id="signon-container">
        <h2 id="signon-header">Sign Up With Us!</h2>
        <p id="signon-text">Creating an account with us allows you to earn rewards, create meal plans, and streamline future orders!</p>
        <div id="signon-name-container" class="signon-container">
            <label id="signon-name-label" class="label-signon">
                Full Name
            </label>
            <input type="text" id="signon-name-input" autocomplete="name">
        </div>
        <div id="signon-email-container" class="signon-container">
            <label id="signon-email-label" class="label-signon">
                Email
            </label>
            <input type="email" id="signon-email-input" autocomplete="email">
        </div>
        <div id="signon-password-container" class="signon-container">
            <label id="signon-password-label" class="label-signon">
                Password
            </label>
            <input type="password" id="signon-password-input" autocomplete="new-password">
        </div>
        <button id="signon-button">Sign Up</button>
    </div>


    <div id="extra-info-container">
        <!-- Collect info on user: payment info-->
        <div id="signon-address-container" class="signon-container">
            <label id="signon-address-label" class="label-signon">
                Address
            </label>
            <input type="text" id="signon-address-input" autocomplete="street-address">
        </div>

        <div class="info-align-horizontal">
            <div id="signon-city-container" class="signon-container">
                <label id="signon-city-label" class="label-signon">
                    City
                </label>
                <input type="text" id="signon-city-input" autocomplete="address-level2">
            </div>
            <div id="signon-zip-container" class="signon-container">
                <label id="signon-zip-label" class="label-signon">
                    Zip
                </label>
                <input type="text" id="signon-zip-input" autocomplete="postal-code">
            </div>
        </div>

        <div class="info-align-horizontal">
            <div id="signon-state-container" class="signon-container">
                <label id="signon-state-label" class="label-signon">
                    State
                </label>
                <input type="text" id="signon-state-input" autocomplete="address-level1">
            </div>
            <div id="signon-country-container" class="signon-container">
                <label id="signon-country-label" class="label-signon">
                    Country
                </label>
                <input type="text" id="signon-country-input" autocomplete="country-name">
            </div>
        </div>

        <div id="signon-phone-container" class="signon-container">
            <label id="signon-phone-label" class="label-signon">
                Phone
            </label>
            <input type="text" id="signon-phone-input" autocomplete="tel">
        </div>

        <div id="signon-cardnum-container" class="signon-container">
            <label id="signon-cardnum-label" class="label-signon">
                Card #
            </label>
            <input type="text" id="signon-cardnum-input" autocomplete="cc-number">
        </div>

        <div id="signon-cardusername-container" class="signon-container">
            <label id="signon-cardusername-label" class="label-signon">
                Card Username
            </label>
            <input type="text" id="signon-cardusername-input" autocomplete="cc-name">
        </div>

        <div class="info-align-horizontal">

            <div id="signon-cardexpdate-container" class="signon-container">
                <label id="signon-cardexpdate-label" class="label-signon">
                    Expiration Date
                </label>
                <input type="text" id="signon-cardexpdate-input" autocomplete="cc-exp">
            </div>

            <div id="signon-cardsecuritycode-container" class="signon-container">
                <label id="signon-cardsecuritycode-label" class="label-signon">
                    Security Code
                </label>
                <input type="text" id="signon-cardsecuritycode-input" autocomplete="cc-csc">
            </div>

        </div>

        <button id="signup-button">Create Account</button>

    </div>

</div>


<div id="footer">
    <!-- TODO: Add footer -->
</div>


</body>
</html>