<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Condelu Meals - Cart</title>
    <!--<link rel="icon" type="image/x-icon" href="/images/condelulogo.ico">-->
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/lenis@1.1.13/dist/lenis.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.13/dist/lenis.css">

    <link rel="stylesheet" href="/styles/core.css">

    <script src="/js/header.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/item_cart_handling.js"></script>
    <script src="/js/account.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/order.js"></script>
    <script src="/js/signon.js"></script>
    <script src="/js/view_cart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/@barba/core" type="text/javascript"></script>
</head>


<body data-barba="wrapper">

<script src="/js/animations.js"></script>



<div id="header-container">
    <div id="header-link-container">
        <a href="/" style="display: none;" class="link-hover">Home</a>
        <a href="/menu" style="display: none;" class="link-hover">Menu</a>
        <a href="/cart" style="display: none;" class="link-hover">Order</a>
        <a href="/account" style="display: none;" class="link-hover">Account</a>
        <a href="/#collaborate-container" style="display: none;" class="link-hover">Careers</a>
        <a href="/reference_page" style="display:none;" class="link-hover">Reference Page</a>
        <button id="header-show-button" data-headeropen="false" onclick="headerButtonClick()"><i class="fa-solid fa-bars"></i></button>
        <a id="header-cart-icon" class="header-no-remove" href="/cart" data-activetime="inactive">
            <i class="fa-solid fa-cart-shopping"></i>
            <p id="cart-item-count">0</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 100">
                <circle cx="50" cy="50" r="50" stroke="#00B837"
                        fill="none"
                        stroke-width="8"
                        style="stroke-dasharray: 80;"/>
            </svg>
        </a>
    </div>
    <div id="header-account-icon">
        <a href="/account">
            <img id="header-account-icon-image" th:src="${headerpicturelink}" alt="account icon" onerror="this.src='/images/default-avatar-icon.jpg';">
        </a>
    </div>
</div>

<div id="branding-container">
    <a href="/" id="branding-desktop"><h1>Condelu Meals</h1></a>
    <a href="/" id="branding-mobile"><i class="fa-solid fa-house"></i></a>
</div>

<div id="mobile-header-popup">
    <a href="/"><h1>Home</h1></a>
    <a href="/menu"><h1>Menu</h1></a>
    <a href="/cart"><h1>Order</h1></a>
    <a href="/account"><h1>Account</h1></a>
    <a href="/#collaborate-container"><h1>Careers</h1></a>
    <a href="/reference_page"><h1>Reference Page</h1></a>
</div>

<div id="page-transition-container" style="display: none;">
    <div id="page-transition-left" class="page-transition-panel"></div>
    <div id="page-transition-right" class="page-transition-panel"></div>
    <h1 id="page-transition-title">Home</h1>
</div>




<div id="barba-container" data-barba="container" data-barba-namespace="page" data-page="viewcart">
    <div id="site-content-cart" class="site-content" data-title="Cart">

        <!--
        if no cart is specified in local storage and user is not signed in, redirect to menu.
        If user is signed in but no cart in local storage, check if they have a favorite or past order they would like to do again.
        Otherwise, there is an order, so display that order. Have the option prominent to go and see the menu to add something else.
        -->

        <div id="cart-display">
            <div id="cart-items-container">

            </div>
            <div id="cart-totals">
                <div id="totals-left">
                    <h4 id="cart-total-count">Items: 0</h4>
                    <div id="code-input-container" class="code-input-container">
                        <label id="code-input-label" class="label-code-input">
                            Gift Code
                        </label>
                        <input type="text" id="code-input" autocomplete="name" th:value="${defaultcode}">
                    </div>
                </div>
                <div id="cart-price">
                    <div id="cart-price-labels">
                        <h4 id="cart-total-price-subtotal-label">Subtotal:</h4>
                        <h4 id="cart-total-discount-label">Discount:</h4>
                        <h4 id="cart-total-tax-label">Tax:</h4>
                        <h4 id="cart-total-price-label">Total:</h4>
                    </div>
                    <div id="cart-price-values">
                        <h4 id="cart-total-price-subtotal">0.00</h4>
                        <h4 id="cart-total-discount">0.00</h4>
                        <h4 id="cart-total-tax">0.00</h4>
                        <h4 id="cart-total-price">0.00</h4>
                    </div>
                </div>
            </div>
            <div id="cart-order-container">
                <button onclick="placeOrder()">Proceed to Checkout</button>
            </div>
        </div>
    </div>
</div>





<div id="footer">
    <p>&copy; 2025 ConDelu Meals</p>
</div>

</body>
</html>