@import 'constants';
@import 'header';


#indicator-overlay {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  min-height: 5%;
  z-index: 9999;
  background: $secondary;
  border-top: 1px solid $accent;
  #indicator-duration {
    width: 0;
    height: 5px;
    background: $accent;
  }
  h1 {
    padding-left: 10vh;
  }
}


#site-content {

  display: flex;
  height: 80vh;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 12vh 5vh 5vw;
  min-height: unset !important;

  #account-menu-nav {
    flex-grow: 1;
    height: 100%;
    background: lighten($secondary, 5%);
    border-radius: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;
    gap: 2vh;
    padding-top: 1vh;
    .account-nav-listing {
      width: 90%;
      display: flex;
      flex-flow: row;
      justify-content: start;
      align-items: center;
      border-radius: 1em;
      margin-left: 5%;
      margin-right: 5%;
      transition: background 0.5s;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      i {
        width: 20%;
        text-align: center;
        font-size: 1.5em;
        color: $accent;
        transition: color 0.5s;
      }
      p {
        font-size: 1.5em;
        padding-left: 10%;
      }
    }
    .account-nav-listing:hover {
      background: transparentize($accent, 0.5);
    }
    .account-nav-listing.selected {
      background: $accent;
      i {
        color: $secondary;
      }
    }
  }
  #account-setting-panels {

    @import 'account/accountfields';

    flex-grow: 6;
    height: 100%;
    background: lighten($secondary, 5%);
    border-radius: 1em;
    margin-right: 6vw;
    position: relative;
    .setting-panel {
      position: absolute;
      width: 100%;
      height: 100%;
      flex-flow: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}