/* Error: Undefined variable.
 *    ,
 * 10 |     background: lighten($secondary, 5%);
 *    |                         ^^^^^^^^^^
 *    '
 *   additemoverlay.scss 10:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 10 \2502      background: lighten($secondary, 5%);\d\a    \2502                          ^^^^^^^^^^\a    \2575 \a   additemoverlay.scss 10:25  root stylesheet";
}
