@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap');

$paragraphFamily: "Open Sans", sans;
$headingFamily: "SUSE", sans;

$light: #C6FFDE;
$accent: #16DE69;
$dark: #041C0E;


h1 {
  font-family: $headingFamily;
  font-weight: 700;
  margin: 0;
  font-size: 2.75em;
}
h2 {
  font-family: $headingFamily;
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
}
h3 {
  font-family: $headingFamily;
  font-weight: 600;
  margin: 0;
  font-size: 2.25em;
}
h4 {
  font-family: $headingFamily;
  font-weight: 600;
  margin: 0;
  font-size: 2em;
}
h5 {
  font-family: $headingFamily;
  font-weight: 500;
  margin: 0;
  font-size: 1.75em;
}
h6 {
  font-family: $headingFamily;
  font-weight: 500;
  margin: 0;
  font-size: 1.65em;
}
p, input {
  font-family: $paragraphFamily;
  margin: 0;
}
a {
  position:relative;
  font-family: $paragraphFamily;
  text-decoration: none;
  margin: 0;
  color: mix($dark, $accent, 25%);
}
button {
  width: fit-content;
  text-align: center;
  font-family: $headingFamily;
  font-weight: 600;
  font-size: 1.25em;
  background: none;
  color: darken($accent, 10%);
  border: 2px solid $accent;
  padding: 0.5em 0.75em;
  border-radius: 1em;
  transition: background 0.5s, color 0.5s;
}
button.dark {
  color: $accent;
  background: none;
}
button:hover {
  background: $accent;
  color: $dark;
}


body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
}
.container {
  height: 100%;
}


.light {
  background-color: $light;
  color: $dark;
}
.light-nobg {
  color: $dark;
}
.dark {
  background-color: $dark;
  color: $light;
}
::-moz-selection, .light-nobg::-moz-selection {
  color: $light;
  background: $dark;
}
::selection, .light-nobg::selection {
  color: $light;
  background: $dark;
}
.dark::-moz-selection {
  background: $light;
  color: $dark;
}
.dark::selection {
  background: $light;
  color: $dark;
}


body {
  overflow-x: hidden;
}
span {
  will-change: transform, opacity;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 0.25em;
}
::-webkit-resizer {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}



a.link-hover {
  position: relative;
}

a.link-hover::after {
  width: 0%;
  height: 3px;
  background: mix($dark, $accent, 25%);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 1s;
}
a.link-hover:hover::after {
  width: 100%;
}

#site-content {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  //padding-left: 27vw;
  z-index: 1;
  background: none;
  transform: scaleY(1.01);
  will-change: transform;
}