@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap");
h1 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.75em;
  color: #EEEEEE;
}

h2 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
  color: #EEEEEE;
}

h3 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2.25em;
  color: #EEEEEE;
}

h4 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2em;
  color: #EEEEEE;
}

h5 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.75em;
  color: #EEEEEE;
}

h6 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.65em;
  color: #EEEEEE;
}

p, input, label {
  font-family: "Open Sans", sans;
  margin: 0;
  color: #EEEEEE;
}

a {
  position: relative;
  font-family: "Open Sans", sans;
  text-decoration: none;
  margin: 0;
  color: #00B837;
}

a.link-hover {
  position: relative;
}

a.link-hover::after {
  width: 0%;
  height: 3px;
  background: #00B837;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 1s;
}

a.link-hover:hover::after {
  width: 100%;
}

li::marker {
  color: #EEEEEE;
}

button {
  width: fit-content;
  text-align: center;
  font-family: "SUSE", sans;
  font-weight: 600;
  font-size: 1.25em;
  background: none;
  color: #00B837;
  border: 2px solid #00B837;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  will-change: background, color;
  transition: background 0.5s, color 0.5s;
}

button:hover, button:focus {
  background: #00B837;
  color: #111111;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #111111;
  overflow-x: hidden;
}

#site-content {
  background: #111111;
  width: 100%;
  min-height: 100vh;
}

::-moz-selection {
  color: #111111;
  background: #EEEEEE;
}

::selection {
  color: #111111;
  background: #EEEEEE;
}

*::-webkit-scrollbar {
  width: 0.3em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #00B837;
  border-radius: 0.15em;
}

*::-webkit-resizer {
  display: none;
}

*::-webkit-scrollbar-button {
  display: none;
}

#branding-container {
  position: fixed;
  top: 1vh;
  left: 1vh;
  z-index: 9999;
  background: rgba(17, 17, 17, 0.8);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#branding-container h1 {
  color: #00B837;
  font-size: 1.75em;
}

#header-container {
  position: fixed;
  top: 1vh;
  right: 1vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1vw;
  z-index: 9999;
  height: 5vh;
  background: rgba(17, 17, 17, 0.8);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#header-container #header-link-container {
  display: flex;
  flex-flow: row;
  gap: 1vw;
  align-items: center;
  z-index: 9999;
}
#header-container #header-link-container i {
  color: #00B837;
  fill: #00B837;
  font-size: 1.75em;
  z-index: 9999;
}
#header-container #header-link-container .header-no-remove {
  position: relative;
}
#header-container #header-link-container .header-no-remove #cart-item-count {
  position: absolute;
  bottom: -35%;
  right: -25%;
  color: #00B837;
}
#header-container #header-link-container a {
  z-index: 9999;
}
#header-container #header-link-container #header-show-button {
  border: unset !important;
  padding: unset !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#header-container #header-link-container #header-show-button i {
  color: #00B837;
  fill: #00B837;
  font-size: 1.5em;
  z-index: 9999;
}
#header-container #header-link-container #header-show-button:hover, #header-container #header-link-container #header-show-button:focus {
  background: unset !important;
  color: unset !important;
}
#header-container #header-account-icon {
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 1em;
  z-index: 9999;
}
#header-container #header-account-icon a {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  z-index: 9999;
}
#header-container #header-account-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
  z-index: 9999;
}

#site-content {
  display: flex;
  align-items: center;
  flex-flow: column;
}
#site-content #hero-content {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
#site-content #hero-content #hero-interactable {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}
#site-content #hero-content #hero-interactable #hero-button-container {
  width: 80%;
  padding-top: 5vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 2vh;
  align-items: center;
  padding-right: 20%;
}
#site-content #hero-content #hero-interactable #hero-button-container button {
  width: 60%;
}
#site-content #hero-content #hero-bgimg {
  width: 50%;
  height: 100%;
  position: relative;
}
#site-content #hero-content #hero-bgimg-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#site-content #hero-content #hero-bgimg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to right, #111111, rgba(17, 17, 17, 0.6));
}
#site-content #item-promo {
  width: 100%;
  overflow: hidden;
  min-height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}
#site-content #item-promo h1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  width: 100%;
}
#site-content #item-promo #item-scroll-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
#site-content #item-promo #item-scroll-area .scroll-arrow-button {
  background: none;
  color: unset;
  width: 5%;
  border: none;
  position: relative;
}
#site-content #item-promo #item-scroll-area .scroll-arrow-button i {
  width: 100%;
  color: #00B837;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform ease-in-out 0.3s;
}
#site-content #item-promo #item-scroll-area .scroll-arrow-button i:hover {
  transform: scale(1.5);
  transform-origin: center;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow {
  width: 90%;
  height: 100%;
  overflow: hidden;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container {
  flex: 1;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-flow: row;
  gap: 3vw;
  will-change: transform;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile {
  width: 20.25vw;
  height: 90%;
  background: rgb(11.9, 11.9, 11.9);
  border-radius: 1em;
  position: relative;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content {
  z-index: 2;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2%;
  padding: 5%;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content h5 {
  width: 100%;
  flex-grow: 1;
  overflow-wrap: anywhere;
  text-align: center;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content .item-promo-image-container {
  flex-grow: 2;
  flex-shrink: 1;
  aspect-ratio: 1/1;
  max-width: 100%;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content .item-promo-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content .top-rated-item-tile-body {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content .top-rated-item-tile-body p {
  width: 100%;
  text-align: center;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content .item-promo-button {
  transform: scale(0.75);
}
#site-content #current-featured {
  width: fit-content;
  min-width: 40vw;
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  position: relative;
  margin: 15vh 10% 10vh;
}
#site-content #current-featured #featured-overlay {
  height: 100%;
  z-index: 2;
  background: rgb(11.9, 11.9, 11.9);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-radius: 1em;
  gap: 1vh;
  text-align: center;
}
#site-content #current-featured #featured-overlay div {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#site-content #current-featured #featured-overlay #featured-image {
  flex-grow: 2;
  flex-shrink: 1;
  min-height: 0;
  min-width: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
  z-index: 1;
}
#site-content #discount-promo {
  width: 90%;
  min-height: 20vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  text-align: center;
  padding: 5vh 5%;
  margin-top: 5vh;
}
#site-content #top-ratings-display {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
#site-content #top-ratings-display h1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
#site-content #top-ratings-display .rating-tile {
  width: 80%;
  height: fit-content;
  margin-left: 9%;
  margin-right: 9%;
  padding: 2vh 1%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}
#site-content #top-ratings-display .rating-tile h6 {
  width: 40%;
}
#site-content #top-ratings-display .rating-tile p {
  width: 30%;
}
#site-content #top-ratings-display .rating-tile.rating-left {
  text-align: left;
  align-items: start;
}
#site-content #top-ratings-display .rating-tile.rating-left::after {
  width: 2px;
  height: 100%;
  background: #EEEEEE;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
#site-content #top-ratings-display .rating-tile.rating-right {
  text-align: right;
  align-items: end;
}
#site-content #top-ratings-display .rating-tile.rating-right::after {
  width: 2px;
  height: 100%;
  background: #EEEEEE;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
#site-content #member-benefit-promo {
  width: 50vh;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(11.9, 11.9, 11.9);
  border-radius: 1em;
  padding: 1em;
  gap: 5vh;
  margin-top: 15vh;
}
#site-content #approaches-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
#site-content #approaches-container #approaches-grid {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 20vw 20vw;
  grid-gap: 3vw;
  margin-top: 5vh;
}
#site-content #approaches-container .approaches-tile {
  background: rgba(0, 184, 55, 0);
  border: 1px solid #00B837;
  transition: background 0.5s;
  border-radius: 1em;
  aspect-ratio: 1/1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}
#site-content #approaches-container .approaches-tile .approaches-tile-heading {
  font-size: 2em;
}
#site-content #approaches-container .approaches-tile .approaches-tile-content {
  padding: 1em;
}
#site-content #collaborate-container {
  min-width: 80vw;
  height: auto;
  margin-top: 20vh;
  margin-bottom: 10vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#site-content #collaborate-container #collaborate-info-container {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#site-content #collaborate-container #collaborate-info-container #collaborate-info-text {
  position: relative;
  text-align: left;
  display: flex;
  height: 40vh;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 1em;
  border-top: 1px solid #00B837;
  border-bottom: 1px solid #00B837;
  border-image: linear-gradient(to right, #00B837 50%, transparent 50%) 100% 1;
}
#site-content #collaborate-container #collaborate-info-container #collaborate-info-image {
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1em;
  border-top: 1px solid #00B837;
  border-bottom: 1px solid #00B837;
  border-image: linear-gradient(to left, #00B837 50%, transparent 50%) 100% 1;
  height: 40vh;
  display: flex;
  flex-flow: column;
  align-items: end;
}
#site-content #collaborate-container #collaborate-info-container #collaborate-info-image #collaborate-image {
  height: 100%;
  object-fit: contain;
}
#site-content #collaborate-container #collaborate-info-container #collaborate-info-image::after {
  width: 1px;
  height: 100%;
  background: #00B837;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
#site-content #collaborate-container #collaborate-info-container #collaborate-info-text::after {
  width: 1px;
  height: 100%;
  background: #00B837;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

#footer {
  width: 100%;
  min-height: 5vh;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgb(11.9, 11.9, 11.9);
}

/*# sourceMappingURL=home.css.map */
