@import 'constants';

#header-container {
  height: 100vh;
  width: 15vw;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  #header-content {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    a {
      padding: 1vw 4vw;
      border-bottom-right-radius: 1em;
      border-top-right-radius: 1em;
      transition: border 0.5s;
      border: 1px solid transparent;
    }
    a:hover {
      border: 1px solid $accent;
    }
    .emphasize {
      background: $accent;
      color: $dark;

      transition: transform 0.5s;
      z-index: 6;
    }
    .emphasize:hover {
      transform: translateX(1vw);
    }
    #header-home-container {
      padding-left: 1vw;
      a {
        padding-left: unset;
        padding-right: unset;
        font-weight: 700;
        font-size: 1.25em;
        border: unset;
      }
      a:hover {
        border: unset;
      }
    }
  }
  #header-image-container {
    position: absolute;
    right: -7vw;
    top: 0;
    height: 100%;
    width: 7vw;
    z-index: 5;
    svg {
      width: 100%;
      height: 100%;
      fill: $dark;
    }
  }
}


#site-content {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 27vw;
  z-index: 1;

  #hero-content {
    width: 100vw - 22vw - 10vw;
    padding-left: 5vw; //22 for spacing from the header, 3 for readability
    padding-right: 5vw;

    h1 {
      font-size: 3.5em;
      padding-top: 5vh;
    }

    #hero-proceed-container {
      padding-top: 40vh;
      width: 100%;
      text-align: center;
      position: relative;
      i {
        padding-left: 1em;
      }
    }
  }

  #approaches-container {
    width: 70vw;
  }

  #sample-container {
    width: 70vw;
  }
}