@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap");
h1 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.75em;
}

h2 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
}

h3 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2.25em;
}

h4 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2em;
}

h5 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.75em;
}

h6 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.65em;
}

p {
  font-family: "Open Sans", sans;
  margin: 0;
}

a {
  position: relative;
  font-family: "Open Sans", sans;
  text-decoration: none;
  margin: 0;
}

button {
  width: fit-content;
  text-align: center;
  font-family: "SUSE", sans;
  font-weight: 600;
  font-size: 1.25em;
  padding: 0.5em 0.75em;
  background: #16DE69;
  border: 2px solid rgba(22, 222, 105, 0);
  border-radius: 1em;
  transition: background 0.5s, border 0.5s;
}

button:hover {
  background: #C6FFDE;
  border: 2px solid #16DE69;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.container {
  height: 100%;
}

.light {
  background-color: #C6FFDE;
  color: #041C0E;
}

.dark {
  background-color: #041C0E;
  color: #C6FFDE;
}

::-moz-selection {
  color: #C6FFDE;
  background: #041C0E;
}

::selection {
  color: #C6FFDE;
  background: #041C0E;
}

.dark::-moz-selection {
  background: #C6FFDE;
  color: #041C0E;
}

.dark::selection {
  background: #C6FFDE;
  color: #041C0E;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #16DE69;
  border-radius: 0.25em;
}

::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

#header-container {
  height: 100vh;
  width: 15vw;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
}
#header-container #header-content {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#header-container #header-content a {
  padding: 1vw 4vw;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
  transition: border 0.5s;
  border: 1px solid transparent;
}
#header-container #header-content a:hover {
  border: 1px solid #16DE69;
}
#header-container #header-content .emphasize {
  background: #16DE69;
  color: #041C0E;
  transition: transform 0.5s;
  z-index: 6;
}
#header-container #header-content .emphasize:hover {
  transform: translateX(1vw);
}
#header-container #header-content #header-home-container {
  padding-left: 1vw;
}
#header-container #header-content #header-home-container a {
  padding-left: unset;
  padding-right: unset;
  font-weight: 700;
  font-size: 1.25em;
  border: unset;
}
#header-container #header-content #header-home-container a:hover {
  border: unset;
}
#header-container #header-image-container {
  position: absolute;
  right: -7vw;
  top: 0;
  height: 100%;
  width: 7vw;
  z-index: 5;
}
#header-container #header-image-container svg {
  width: 100%;
  height: 100%;
  fill: #041C0E;
}

#parallax-image {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#parallax-image img {
  width: 100%;
  height: 100%;
}

#site-content {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: none;
}
#site-content #hero-content {
  width: 68vw;
  height: 100vh;
  padding-left: 32vw;
  padding-right: 5vw;
  background: #C6FFDE;
}
#site-content #hero-content h1 {
  font-size: 3.5em;
  padding-top: 15vh;
}
#site-content #hero-content #hero-proceed-container {
  padding-top: 40vh;
  width: 100%;
  text-align: center;
  position: relative;
}
#site-content #hero-content #hero-proceed-container i {
  padding-left: 1em;
  color: #16DE69;
}
#site-content #approaches-container {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background: none;
  z-index: 2;
}
#site-content #approaches-container .approaches-tile {
  width: 18vw;
  min-height: 60vh;
  max-height: 90vh;
  overflow: clip;
  text-align: center;
  z-index: 4;
}
#site-content #approaches-container .approaches-tile .approaches-tile-title {
  background: rgba(198, 255, 222, 0.8);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}
#site-content #approaches-container .approaches-tile .approaches-tile-content {
  background: rgba(198, 255, 222, 0.8);
  border-radius: 1em;
  padding: 1em;
}
#site-content #approaches-container::before {
  content: "";
  display: block;
  background: rgba(198, 255, 222, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
#site-content #sample-container {
  width: 70vw;
  height: 100vh;
  background: #C6FFDE;
  z-index: 2;
}

/*# sourceMappingURL=home.css.map */
