@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap");
h1 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.75em;
  color: #EEEEEE;
}

h2 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
  color: #EEEEEE;
}

h3 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2.25em;
  color: #EEEEEE;
}

h4 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2em;
  color: #EEEEEE;
}

h5 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.75em;
  color: #EEEEEE;
}

h6 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.65em;
  color: #EEEEEE;
}

p, input {
  font-family: "Open Sans", sans;
  margin: 0;
  color: #EEEEEE;
}

a {
  position: relative;
  font-family: "Open Sans", sans;
  text-decoration: none;
  margin: 0;
  color: #00B837;
}

a.link-hover {
  position: relative;
}

a.link-hover::after {
  width: 0%;
  height: 3px;
  background: #00B837;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 1s;
}

a.link-hover:hover::after {
  width: 100%;
}

button {
  width: fit-content;
  text-align: center;
  font-family: "SUSE", sans;
  font-weight: 600;
  font-size: 1.25em;
  background: none;
  color: #00B837;
  border: 2px solid #00B837;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  will-change: background, color;
  transition: background 0.5s, color 0.5s;
}

button:hover, button:focus {
  background: #00B837;
  color: #111111;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #111111;
  overflow-x: hidden;
}

#site-content {
  background: #111111;
  width: 100%;
  min-height: 100vh;
}

::-moz-selection {
  color: #111111;
  background: #EEEEEE;
}

::selection {
  color: #111111;
  background: #EEEEEE;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00B837;
  border-radius: 0.15em;
}

::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

#branding-container {
  position: fixed;
  top: 1vh;
  left: 1vh;
  z-index: 9999;
  background: rgba(17, 17, 17, 0.8);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#branding-container h1 {
  color: #00B837;
  font-size: 1.75em;
}

#header-container {
  position: fixed;
  top: 1vh;
  right: 1vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1vw;
  z-index: 9999;
  height: 5vh;
  background: rgba(17, 17, 17, 0.8);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#header-container #header-link-container {
  display: flex;
  flex-flow: row;
  gap: 1vw;
  align-items: center;
}
#header-container #header-link-container #header-show-button {
  border: unset !important;
  padding: unset !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#header-container #header-link-container #header-show-button i {
  color: #00B837;
  fill: #00B837;
  font-size: 1.5em;
}
#header-container #header-link-container #header-show-button:hover, #header-container #header-link-container #header-show-button:focus {
  background: unset !important;
  color: unset !important;
}
#header-container #header-account-icon {
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 1em;
}
#header-container #header-account-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

#site-content #hero-content {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}
#site-content #hero-content #hero-interactable {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}
#site-content #hero-content #hero-interactable #hero-button-container {
  width: 80%;
  padding-top: 5vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 2vh;
  align-items: center;
  padding-right: 20%;
}
#site-content #hero-content #hero-interactable #hero-button-container button {
  width: 60%;
}
#site-content #hero-content #hero-bgimg {
  width: 50%;
  height: 100%;
  position: relative;
}
#site-content #hero-content #hero-bgimg-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#site-content #hero-content #hero-bgimg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to right, #111111, rgba(17, 17, 17, 0.6));
}
#site-content #item-promo {
  width: 100%;
  overflow: hidden;
  height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
}
#site-content #item-promo h1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
  width: 100%;
}
#site-content #item-promo #item-scroll-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
#site-content #item-promo #item-scroll-area .scroll-arrow-button {
  background: none;
  color: unset;
  width: 5%;
  border: none;
  position: relative;
}
#site-content #item-promo #item-scroll-area .scroll-arrow-button i {
  width: 100%;
  color: #00B837;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform ease-in-out 0.3s;
}
#site-content #item-promo #item-scroll-area .scroll-arrow-button i:hover {
  transform: scale(1.5);
  transform-origin: center;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow {
  width: 90%;
  height: 100%;
  overflow: hidden;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container {
  flex: 1;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-flow: row;
  gap: 3vw;
  will-change: transform;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile {
  width: 20.25vw;
  height: 90%;
  background: #111111;
  border-radius: 1em;
  position: relative;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(17, 17, 17, 0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  padding: 5%;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content h5 {
  width: 100%;
  overflow-wrap: anywhere;
  text-align: center;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content .top-rated-item-tile-body {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile .top-rated-item-tile-content .top-rated-item-tile-body p {
  width: 100%;
  text-align: center;
}
#site-content #item-promo #item-scroll-area #item-scroll-overflow #item-scroll-container .top-rated-item-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 1em;
}
#site-content #current-featured {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10vh;
  border-radius: 1em;
  position: relative;
}
#site-content #current-featured #featured-overlay {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(17, 17, 17, 0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
#site-content #current-featured #featured-overlay div {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#site-content #current-featured img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 1em;
}
#site-content #discount-promo {
  width: 90%;
  height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  padding-left: 5%;
  padding-right: 5%;
}
#site-content #top-ratings-display {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#site-content #top-ratings-display h1 {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
#site-content #top-ratings-display .rating-tile {
  width: 80%;
  height: fit-content;
  margin-left: 9%;
  margin-right: 9%;
  padding: 2vh 1%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
}
#site-content #top-ratings-display .rating-tile h6 {
  width: 40%;
}
#site-content #top-ratings-display .rating-tile p {
  width: 30%;
}
#site-content #top-ratings-display .rating-tile.rating-left {
  text-align: left;
  align-items: start;
}
#site-content #top-ratings-display .rating-tile.rating-left::after {
  width: 2px;
  height: 100%;
  background: #EEEEEE;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
#site-content #top-ratings-display .rating-tile.rating-right {
  text-align: right;
  align-items: end;
}
#site-content #top-ratings-display .rating-tile.rating-right::after {
  width: 2px;
  height: 100%;
  background: #EEEEEE;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
#site-content #location-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#site-content #member-benefit-promo {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#site-content #approaches-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#site-content #collaborate-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=home.css.map */
