@import 'constants';
@import 'header';





#site-content {
  #menu-banner {
    width: 100%;
    padding-bottom: 5vh;
    padding-top: 10vh;
    h1 {
      width: 100%;
      text-align: center;
    }
  }

  @import 'menu/menu_category_selected';

  @import 'menu/menu_item_display';
}


@import 'additemoverlay';

@import 'footer';