@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap");
h1 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.75em;
  color: #EEEEEE;
}

h2 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
  color: #EEEEEE;
}

h3 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2.25em;
  color: #EEEEEE;
}

h4 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2em;
  color: #EEEEEE;
}

h5 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.75em;
  color: #EEEEEE;
}

h6 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.65em;
  color: #EEEEEE;
}

p, input, label {
  font-family: "Open Sans", sans;
  margin: 0;
  color: #EEEEEE;
}

a {
  position: relative;
  font-family: "Open Sans", sans;
  text-decoration: none;
  margin: 0;
  color: #00B837;
  cursor: pointer;
}

a.link-hover {
  position: relative;
}

a.link-hover::after {
  width: 0%;
  height: 3px;
  background: #00B837;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 1s;
}

a.link-hover:hover::after {
  width: 100%;
}

li::marker {
  color: #EEEEEE;
}

button {
  width: fit-content;
  text-align: center;
  font-family: "SUSE", sans;
  font-weight: 600;
  font-size: 1.25em;
  background: none;
  color: #00B837;
  border: 2px solid #00B837;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  will-change: background, color;
  transition: background 0.5s, color 0.5s;
  cursor: pointer;
}

button:hover, button:focus {
  background: #00B837;
  color: #111111;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #111111;
  overflow-x: hidden;
}

#site-content {
  background: #111111;
  width: 100%;
  min-height: 100vh;
}

::-moz-selection {
  color: #111111;
  background: #EEEEEE;
}

::selection {
  color: #111111;
  background: #EEEEEE;
}

*::-webkit-scrollbar {
  width: 0.3em;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #00B837;
  border-radius: 0.15em;
}

*::-webkit-resizer {
  display: none;
}

*::-webkit-scrollbar-button {
  display: none;
}

#branding-container {
  position: fixed;
  top: 1vh;
  left: 1vh;
  z-index: 9999;
  background: rgba(17, 17, 17, 0.8);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#branding-container h1 {
  color: #00B837;
  font-size: 1.75em;
}
#branding-container #branding-desktop {
  display: block;
}
#branding-container #branding-mobile {
  color: #00B837;
  fill: #00B837;
  font-size: 1.75em;
  z-index: 9999;
  display: none;
}
@media (width <= 375px) {
  #branding-container #branding-mobile {
    display: block;
  }
  #branding-container #branding-desktop {
    display: none;
  }
}

#header-container {
  position: fixed;
  top: 1vh;
  right: 1vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1vw;
  z-index: 9999;
  height: 5vh;
  background: rgba(17, 17, 17, 0.8);
  padding: 0.5em 1em;
  border-radius: 1em;
}
#header-container #header-link-container {
  display: flex;
  flex-flow: row;
  gap: 1vw;
  align-items: center;
  z-index: 9999;
}
#header-container #header-link-container i {
  color: #00B837;
  fill: #00B837;
  font-size: 1.75em;
  z-index: 9999;
}
#header-container #header-link-container .header-no-remove {
  position: relative;
}
#header-container #header-link-container .header-no-remove #cart-item-count {
  position: absolute;
  bottom: -35%;
  right: -25%;
  color: #00B837;
}
#header-container #header-link-container a {
  z-index: 9999;
}
#header-container #header-link-container #header-show-button {
  border: unset !important;
  padding: unset !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#header-container #header-link-container #header-show-button i {
  color: #00B837;
  fill: #00B837;
  font-size: 1.5em;
  z-index: 9999;
}
#header-container #header-link-container #header-show-button:hover, #header-container #header-link-container #header-show-button:focus {
  background: unset !important;
  color: unset !important;
}
#header-container #header-account-icon {
  aspect-ratio: 1/1;
  height: 100%;
  border-radius: 1em;
  z-index: 9999;
}
#header-container #header-account-icon a {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  z-index: 9999;
}
#header-container #header-account-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
  z-index: 9999;
}
@media (width <= 500px) {
  #header-container #header-link-container {
    gap: 2vw;
  }
  #header-container #header-account-icon {
    padding-left: 2vw;
  }
}

#mobile-header-popup {
  display: none;
  flex-flow: column;
  align-items: center;
  gap: 5vh;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 15vh;
  background: rgba(11.9, 11.9, 11.9, 0.99);
}

#site-content #menu-banner {
  width: 100%;
  padding-bottom: 5vh;
  padding-top: 10vh;
}
#site-content #menu-banner h1 {
  width: 100%;
  text-align: center;
}
#site-content #menu-categories-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
}
#site-content #menu-categories-container #menu-categories-accordion-header {
  display: none;
  width: 90%;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5%;
}
#site-content #menu-categories-container #menu-categories-accordion-header #nav-accordion-icon i {
  width: 20%;
  text-align: center;
  font-size: 1.5em;
  color: #00B837;
}
#site-content #menu-categories-container #menu-categories-accordion-header #nav-accordion-header-label {
  font-size: 1.5em;
}
#site-content #menu-categories-container #menu-accordion-panel {
  width: 100%;
  display: flex;
  flex-flow: row;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
}
#site-content #menu-categories-container .menu-topic-tile {
  flex-basis: 100%;
  padding-left: 1em;
  padding-right: 1em;
  height: 10vh;
  background: rgb(24.65, 24.65, 24.65);
  display: flex;
  justify-content: center;
  align-items: center;
  border: #00B837 1px solid;
  transition: background 0.25s ease-in-out;
}
#site-content #menu-categories-container .menu-topic-tile h3 {
  transition: color 0.25s ease-in-out;
}
#site-content #menu-categories-container .menu-topic-tile.category-selected {
  background: #00B837;
}
#site-content #menu-categories-container .menu-topic-tile.category-selected h3 {
  color: #111111;
}
@media (width <= 850px) {
  #site-content #menu-categories-container {
    flex-flow: column;
    background: rgb(24.65, 24.65, 24.65);
  }
  #site-content #menu-categories-container #menu-categories-accordion-header {
    display: flex;
  }
  #site-content #menu-categories-container #menu-accordion-panel {
    width: 100%;
    display: none;
    flex-flow: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    padding-bottom: 3vh;
  }
  #site-content #menu-categories-container #menu-accordion-panel[data-hide=false] {
    display: flex;
  }
  #site-content #menu-categories-container .menu-topic-tile {
    background: unset !important;
    border: unset !important;
    width: 100% !important;
  }
  #site-content #menu-categories-container .menu-topic-tile.category-selected {
    background: #00B837 !important;
  }
  #site-content #menu-categories-container .menu-topic-tile.category-selected h3 {
    color: #EEEEEE !important;
  }
}
#site-content #menu-items-container {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 5vh;
}
#site-content #menu-items-container .menu-items {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#site-content #menu-items-container .menu-items .menu-item-tag {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#site-content #menu-items-container .menu-items .menu-item-tag .menu-tag-name {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}
#site-content #menu-items-container .menu-items .menu-item-tag .tag-items {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-evenly;
  gap: 4vw;
  flex-wrap: wrap;
}
#site-content #menu-items-container .menu-items .menu-item-tag .tag-items .menu-item {
  aspect-ratio: 2/3;
  border-radius: 1em;
  background: rgb(27.2, 27.2, 27.2);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
#site-content #menu-items-container .menu-items .menu-item-tag .tag-items .menu-item .item-image-container {
  height: 45%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  position: relative;
}
#site-content #menu-items-container .menu-items .menu-item-tag .tag-items .menu-item .item-image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
#site-content #menu-items-container .menu-items .menu-item-tag .tag-items .menu-item .item-content-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}
#site-content #menu-items-container .menu-items .menu-item-tag .tag-items .menu-item .item-content-container .item-title {
  font-size: 1.75em;
}

#menu-item-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(17, 17, 17, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
}
#menu-item-overlay #menu-item-details-container {
  width: 50vw;
  height: 70vh;
  position: relative;
  background: rgb(29.75, 29.75, 29.75);
  border-radius: 2em;
  z-index: 5;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#menu-item-overlay #menu-item-details-container #menu-item-top {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}
#menu-item-overlay #menu-item-details-container #menu-item-top #menu-item-main-info {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1vh;
  align-items: center;
}
#menu-item-overlay #menu-item-details-container #menu-item-desc-container {
  width: 50vw;
  height: 35vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (width <= 950px) {
  #menu-item-overlay #menu-item-details-container {
    width: unset;
    padding: 1em;
  }
}
@media (width <= 500px) {
  #menu-item-overlay #menu-item-top {
    flex-flow: column !important;
    height: unset !important;
  }
}

.item-count-container {
  border-radius: 1em;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.item-count-container .label-item-count {
  background: rgb(29.75, 29.75, 29.75);
  width: fit-content;
  position: absolute;
  top: -0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "SUSE", sans;
  font-weight: 500;
  font-size: 1.1em;
  color: #EEEEEE;
}
.item-count-container input, .item-count-container input:focus, .item-count-container input:hover, .item-count-container input:-webkit-autofill, .item-count-container input:focus-visible {
  border: 1px solid #00B837 !important;
  border-radius: 1em;
  padding: 0.5em;
  background: none !important;
  font-family: "Open Sans", sans;
  outline: none !important;
  color: #EEEEEE;
  transition: color 1s ease-in-out;
}

#footer {
  width: 100%;
  min-height: 5vh;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgb(11.9, 11.9, 11.9);
}

/*# sourceMappingURL=menu.css.map */
