#site-content-references {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  padding-top: 15vh;

  .references-flex {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vh;
  }

  .reference-header {
    padding-bottom: 5vh;
    font-size: 3.25em;
  }

  .library {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }
}