@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap");
h1 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.75em;
  color: #EEEEEE;
}

h2 {
  font-family: "SUSE", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
  color: #EEEEEE;
}

h3 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2.25em;
  color: #EEEEEE;
}

h4 {
  font-family: "SUSE", sans;
  font-weight: 600;
  margin: 0;
  font-size: 2em;
  color: #EEEEEE;
}

h5 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.75em;
  color: #EEEEEE;
}

h6 {
  font-family: "SUSE", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.65em;
  color: #EEEEEE;
}

p, input {
  font-family: "Open Sans", sans;
  margin: 0;
  color: #EEEEEE;
}

a {
  position: relative;
  font-family: "Open Sans", sans;
  text-decoration: none;
  margin: 0;
  color: #00B837;
}

a.link-hover {
  position: relative;
}

a.link-hover::after {
  width: 0%;
  height: 3px;
  background: #00B837;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 1s;
}

a.link-hover:hover::after {
  width: 100%;
}

button {
  width: fit-content;
  text-align: center;
  font-family: "SUSE", sans;
  font-weight: 600;
  font-size: 1.25em;
  background: none;
  color: #00B837;
  border: 2px solid #00B837;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  will-change: background, color;
  transition: background 0.5s, color 0.5s;
}

button:hover, button:focus {
  background: #00B837;
  color: #111111;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #111111;
  overflow-x: hidden;
}

#site-content {
  background: #111111;
  width: 100%;
  min-height: 100vh;
}

::-moz-selection {
  color: #111111;
  background: #EEEEEE;
}

::selection {
  color: #111111;
  background: #EEEEEE;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00B837;
  border-radius: 0.15em;
}

::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

#signon-content {
  width: 100%;
  height: 100vh;
  padding-top: 5vh;
  z-index: 1;
  background: #111111;
  display: flex;
  justify-content: flex-start;
  gap: 10vh;
  align-items: center;
  flex-flow: column;
  transition: background 1s ease-in-out;
}
#signon-content #toggle-signon-mode {
  display: flex;
  width: 50%;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  padding: 1em;
  background: #2b2b2b;
  border-radius: 1em;
}
#signon-content #toggle-signon-mode #signon-switch-label {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
}
#signon-content #toggle-signon-mode #signon-switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}
#signon-content #toggle-signon-mode #signon-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #008528;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2em;
}
#signon-content #toggle-signon-mode #signon-switch:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  left: 0.25em;
  bottom: 0.2em;
  background-color: #00B837;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 50%;
}
#signon-content #toggle-signon-mode input:checked + #signon-switch {
  background-color: #00eb46;
}
#signon-content #toggle-signon-mode input:focus + #signon-switch {
  box-shadow: 0 0 0.01em #EEEEEE;
}
#signon-content #toggle-signon-mode input:checked + #signon-switch:before {
  -webkit-transform: translateX(1.9em);
  -ms-transform: translateX(1.9em);
  transform: translateX(1.9em);
}
#signon-content #signon-container {
  display: flex;
  width: 50%;
  height: 60%;
  justify-content: space-evenly;
  flex-flow: column;
  align-items: center;
  padding: 1em;
  background: #2b2b2b;
  border-radius: 1em;
}
#signon-content #signon-container p {
  text-align: center;
  width: 60%;
}
#signon-content #signon-container h2 {
  text-align: center;
  width: 80%;
}
#signon-content #signon-container .signon-container {
  border-radius: 1em;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#signon-content #signon-container .signon-container .label-signon {
  background: #2b2b2b;
  width: fit-content;
  position: absolute;
  top: -0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "SUSE", sans;
  font-weight: 500;
  font-size: 1.1em;
  color: #EEEEEE;
}
#signon-content #signon-container .signon-container input, #signon-content #signon-container .signon-container input:focus, #signon-content #signon-container .signon-container input:hover, #signon-content #signon-container .signon-container input:-webkit-autofill, #signon-content #signon-container .signon-container input:focus-visible {
  border: 1px solid #00B837 !important;
  border-radius: 1em;
  padding: 0.25em;
  background: none !important;
  font-family: "Open Sans", sans;
  outline: none !important;
  color: #111111;
  transition: color 1s ease-in-out;
}
#signon-content #extra-info-container {
  display: none;
}

#signon-content.darkmode {
  background: #111111;
}
#signon-content.darkmode #toggle-signon-mode {
  background: #2b2b2b;
}
#signon-content.darkmode #toggle-signon-mode h3 {
  color: #111111;
}
#signon-content.darkmode #signon-container {
  background: #2b2b2b;
}

/*# sourceMappingURL=signon.css.map */
