#signon-content {
  width: 100%;
  min-height: 90vh;
  padding-top: 10vh;
  z-index: 1;
  background: $secondary;
  display: flex;
  justify-content: flex-start;
  gap: 10vh;
  align-items: center;
  flex-flow: column;
  transition: background 1s ease-in-out;

  @import 'signon/toggle-signon';

  @import 'signon/signon-container';

  @import 'signon/signon-extra-container';
}

#signon-content.darkmode {
  background: $secondary;
  #toggle-signon-mode {
    background: lighten($secondary, 10%);
    h3 {
      color: $secondary;
    }
  }
  #signon-container {
    background: lighten($secondary, 10%);
  }
}