#site-content-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  #cart-display {
    width: 80%;
    border-left: $accent 1px solid;
    border-right: $accent 1px solid;
    padding: 2vh 3vw;

    #cart-items-container {
      width: 100%;
      min-height: 30vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap:3vh;
      padding-top: 5vh;
      padding-bottom: 5vh;
      .cart-item-tile {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        border-top: transparentize($accent, 0.5) 1px solid;
        padding-top: 1vh;
        //border-bottom: $accent 1px solid;
      }
      .cart-item-tile:hover {
        text-decoration: line-through $accent;
      }
    }
    #cart-totals {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      #totals-left {
        display: flex;
        flex-flow: column;
        gap: 5vh;
        text-align: center;
      }
      #cart-price {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;
        #cart-price-labels {
          display: flex;
          width: fit-content;
          flex-flow: column;
          justify-content: center;
          gap: 1vh;
          align-items: start;
        }
        #cart-price-values {
          display: flex;
          width: fit-content;
          flex-flow: column;
          justify-content: center;
          gap: 1vh;
          align-items: end;
        }
      }
      @media (width <= 625px) {
        flex-flow: column;
        gap: 5vh;
        text-align: center;
      }
    }
    #cart-order-container {
      width: 100%;
      padding-top: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


.code-input-container {
  border-radius: 1em;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .label-code-input {
    background: $secondary;
    width: fit-content;
    position: absolute;
    top: -0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: $headingFamily;
    font-weight: 500;
    font-size: 1.1em;
    color: $primary;
  }
  input, input:focus, input:hover, input:-webkit-autofill, input:focus-visible {
    border: 1px solid $accent !important;
    border-radius: 1em;
    padding: 0.5em;
    background: none !important;
    font-family: $paragraphFamily;
    outline: none !important;
    color: $primary;
    transition: color 1s ease-in-out;
    text-align: center;
  }
}