@import 'constants';
@import 'header';


#site-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  #cart-display {
    width: 80%;
    border-left: $accent 1px solid;
    border-right: $accent 1px solid;
    padding: 2vh 3vw;

    #cart-items-container {
      width: 100%;
      min-height: 30vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap:3vh;
      padding-top: 5vh;
      padding-bottom: 5vh;
      .cart-item-tile {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        border-top: transparentize($accent, 0.5) 1px solid;
        padding-top: 1vh;
        //border-bottom: $accent 1px solid;
      }
      .cart-item-tile:hover {
        text-decoration: line-through $accent;
      }
    }
    #cart-totals {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      #cart-price {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;
        #cart-price-labels {
          display: flex;
          width: fit-content;
          flex-flow: column;
          justify-content: center;
          gap: 1vh;
          align-items: start;
        }
        #cart-price-values {
          display: flex;
          width: fit-content;
          flex-flow: column;
          justify-content: center;
          gap: 1vh;
          align-items: end;
        }
      }
      @media (width <= 475px) {
        flex-flow: column;
        gap: 5vh;
      }
    }
    #cart-order-container {
      width: 100%;
      padding-top: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
