@import 'constants';
@import 'header';


#site-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  #cart-display {
    width: 80%;
    border-left: $accent 1px solid;
    border-right: $accent 1px solid;
    padding: 5vh 3vw;

    #cart-items-container {
      width: 100%;
      min-height: 50vh;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
    #cart-totals {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      #cart-price {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        gap: 5vw;
        #cart-price-labels {
          display: flex;
          width: fit-content;
          flex-flow: column;
          justify-content: center;
          gap: 1vh;
          align-items: start;
        }
        #cart-price-values {
          display: flex;
          width: fit-content;
          flex-flow: column;
          justify-content: center;
          gap: 1vh;
          align-items: end;
        }
      }
    }
  }
}
